.wrapper{
	/*margin: 0;
	padding: 0;*/
	/*border: 2px solid red;*/
}
body{
	margin: 0;
	padding: 0;
}
.header{
	/*border: 2px solid blue;*/
	width: 100%;
	height: 82px;
	background-color: rgb(55,89,159);
	overflow: hidden;
}
.header img{
	margin-top: 11px;
	margin-left: 440px;
}
.basicform{
	/*border: 2px solid red;*/
	width: 45%;
	height: 79px;
	float: right;
	overflow: hidden;
	padding-top: 6px;
}
.form1{
	float: left;
	margin-left: 19px;
	color: white;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 16px;
}
.form2{
	float: left;
	margin-left: 20px;
	color: white;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 16px;
}
.form2 a p{
	font-size: 12px;
	color: #9cb4d8;
}
.form2 a p:hover{
	text-decoration: underline;
} 
.form3{
	float: left;
	margin-left:20px;
	margin-top: 14px;
}
#button{
	color: white;
	border: 1px solid #29487D;
	background-color: rgb(66,95,156);
	cursor: pointer;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-weight: bold;
}
#button:hover{
	background-color: #3B5998;
}
.content{
	/*border: 2px solid black;*/
	width: 100%;
	height: 650px;
	background: linear-gradient(#FDFDFE, #D4D9E9);
	overflow: hidden;
}
.semicontent{
	/*border: 2px solid green;*/
	width: 53%;
	height: 100%;
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	color: #0e385f;
	font-size: 20px;
	line-height: 29px;
	font-weight: bold;
}
.semihdng{
	margin-left: 450px;
}
.semicontent img{
	width: 520px;
	height: 182px;
	margin-left: 445px;
}
.maincontent{
	/*border: 2px solid coral;*/
	width: 45%;
	height: 100%;
	float: right;
	overflow: hidden;
}
.cntnhdng{
	font-size: 36px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 48px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
}
.hdng2{
	font-size: 19px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 25px;
	color: #1d2129;
	margin-top: 0px;
}
.fns1{
	width: 190px;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDC7D8;
	border-radius: 5px;
	padding: 6px;
}
.fns2{
	width: 191px;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDC7D8;
	border-radius: 5px;
	padding: 6px;
	margin-bottom: 10px;
}
.flds1{
	width: 392px;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDC7D8;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.flds2{
	width: 392px;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDC7D8;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.flds3{
	width: 392px;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDC7D8;
	border-radius: 5px;
	padding: 10px;
}
.brthd{
	font-size: 18px;
	line-height: 24px;
	font-family: Helvetica, Arial, sans-serif;
	color: #1d2129;
	margin-top: 5px;
	margin-bottom: 5px;
}
.optn1{
  	width: 55px;
	height: 35px;
	padding: 3px;
}
.optn2{
    width: 75px;
	height: 35px;
	padding: 8px;
}
.optn3{
 	 width: 75px;
	 height: 35px;
	 padding: 8px;
}
.info{
	float: right;
	margin-right: 485px;
	margin-top: 0px;
	font-size: 11px;
	line-height: 15px;
	font-family: Helvetica, Arial, sans-serif;
	color: #365899;
}
.info:hover{
	text-decoration: underline;
	cursor: pointer;
}
.gndr{
	font-size: 18px;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	color: #1d2129;
}
.note{
	font-size: 11px;
	line-height:15px;
	font-family: Helvetica, Arial, sans-serif;
	color: #777777;
	margin-bottom: 0px;
}
a{
	text-decoration: none;
	color: #36589B;
}
a:hover{
	text-decoration: underline;
}
.create{
	font-size: 19px;
	line-height: 24px;
	font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-weight: bold;
	background: linear-gradient(#66AC54, #578943);
	width: 200px;
	height: 40px;
	border: .5px solid #2C5115;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 0px;
	padding: 5px;
}
.create:hover{
	background: linear-gradient(#73B95F, #578843);
}
.crtpg{
	font-size: 13px;
	line-height: 17px;
	font-family: Helvetica, Arial, sans-serif;
	color: #666666;
	font-weight: bold;
}
.footer{
	width: 100%;
	height: 228px;
	/*border: 2px solid green;*/
}